
.stella .title-header {
  background-color: #4e4e4e;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  border: 3px double white;
  margin-bottom: 10px;
}

.stella header.sheet-header {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;
  align-items: start;
}
.stella .sheet-header .profile-img {
  flex: 0 0 140px;
  height: 140px;
  margin-right: 10px;
}
.stella .sheet-header .header-fields {
  flex: 1;
}
.stella .sheet-header h1.charname {
  height: 45px;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
}
.stella .sheet-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
}
.stella .five-width {
  width: 19%;
  margin-left: 2px;
  margin-right: 2px;
}
.stella .quater-width {
  width: 25%;
}
.stella .double-width {
  width: 50%;
}
.stella .resource {
  margin-top: 10px;
  float: left;
  text-align: center;
}
.stella .resource input {
  height: 28px;
}
.stella .resource .text-box {
  background-color: #d4d4d4;
  color: #171717;
  padding: 5px;
  font-weight: bold;
  border: 2px solid #15363e;
  margin-bottom: 8px;
}
.stella .resource .slice-input {
  width: 44%;
}
.stella table select {
  font-weight: bold;
}
.stella .tabs {
  height: 40px;
  border-top: 1px solid #AAA;
  border-bottom: 1px solid #AAA;
}
.stella .tabs .item {
  line-height: 40px;
  font-weight: bold;
}
.stella .tabs .item.active {
  text-decoration: underline;
  text-shadow: none;
}
.stella .sheet-body {
  overflow: auto;
}
.stella .sheet-body .tab {
  height: 100%;
  overflow-y: auto;
}
.stella .editor,
.stella .editor-content {
  height: 100%;
}


.stella .cell .cell--title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-flex: 100%;
  -ms-flex: 100%;
  flex: 100%;
  color: #2d3748;
  padding: 5px;
  margin-bottom: 5px;
  font-weight: bold;
}

.stella .item-controls {
  text-align: right;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 40px;
  flex: 0 0 40px;
}

.stella .item-form .sheet-header {
  margin-bottom: 10px;
}

.stella .item-form .sheet-header, .stella .item-form .sheet-navigation {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 30px;
  flex: 0 0 30px;
}

.stella .items-list .item {
  padding: 10px 0;
}

.stella .item-description {
  display: none;
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  width: 100%;
}

.stella .item-name {
  font-size: 18px;
  font-weight: bold;
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
  margin: 0;
}

.stella .item-label:hover::after {
  width: 100%;
}

.stella .item-label::after {
  display: block;
  content: '';
  width: 0;
  height: 0;
  margin-top: 2px;
  border-bottom: 2px solid;
  -webkit-transition: all ease-in-out 0.25s;
  -o-transition: all ease-in-out 0.25s;
  transition: all ease-in-out 0.25s;
}

.stella .set-ability {
  display: grid;
  grid-column: span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 6px 10px;
  margin: 0 0 10px 0;
  padding: 0;
}

.stella .set-ability .ability {
  height: 100%;
  border: 5px double black;
  padding: 6px;

}

.stella .set-ability .ability .number {
  float: left;
  border: 1px solid black;
  font-weight: bold;
  padding: 2px;
  background-color: black;
  color: white;
}

.stella .set-ability .ability .title {
  text-align: center;
  font-weight: bold;
  font-size: 15px;
}

.stella .set-ability .type {
  height: 30px;
  font-weight: bold;
  top: 3px;
  position: relative;
}

.stella .set-ability .charge-box {
  float: right;
  top: -6px;
  position: relative;
}

.stella .set-ability .icon-button {
  width: 30px;
  height: 30px;
  margin: 0;
  line-height: 0;
}

.stella .bouquet {
  float: right;
}

.stella .bouquet input {
  width: 45px;
  background-color: white;
  text-align: center;
}

.stella .bouquet-viewer {
  margin-bottom: 10px;
}

.stella .bouquet-viewer img {
  float: left;
}

.stella .bouquet-viewer button {
  width: 70%;
}
